@page
@model HomNayAnGiApp.Pages.Nutritions.IndexModel
@{
}

<div class="col-lg-6 col-sm-12 mt-3">
    <h4> GIÁ TRỊ DINH DƯỠNG</h4>

    <div class="mb-3">
        <label class="form-label">Calo (kcal)</label>
        <input asp-for="NutritionFactDTO.Calories" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Chất đạm (gam)</label>
        <input asp-for="NutritionFactDTO.Protein" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Chất béo (miligam)</label>
        <input asp-for="NutritionFactDTO.Fat" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Chất đường bột (gam)</label>
        <input asp-for="NutritionFactDTO.Carbohydrates" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Chất xơ (gam)</label>
        <input asp-for="NutritionFactDTO.Fiber" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Đường (gam)</label>
        <input asp-for="NutritionFactDTO.Sugar" class="form-control" readonly />
    </div>

    <a class="btn btn-primary" href="/Nutritions/Update?recipeId=@Model.RecipeId">Cập nhật</a>

    <form method="post">
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Xóa</button>
    </form>
</div>
