@page "/ingre/create"
@model HomNayAnGiApp.Pages.RecipeIngredientManage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RecipeIngredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.RecipeId" class="control-label"></label>
                <select asp-for="RecipeIngredient.RecipeId" class ="form-control" asp-items="ViewBag.RecipeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.IngredientId" class="control-label"></label>
                <select asp-for="RecipeIngredient.IngredientId" class ="form-control" asp-items="ViewBag.IngredientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.Quantity" class="control-label"></label>
                <input asp-for="RecipeIngredient.Quantity" class="form-control" />
                <span asp-validation-for="RecipeIngredient.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.Unit" class="control-label"></label>
                <input asp-for="RecipeIngredient.Unit" class="form-control" />
                <span asp-validation-for="RecipeIngredient.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
