@page
@model HomNayAnGiApp.Pages.Login.ForgotPasswordModel
@{
}
<div class="row g-5 mt-3">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h1 class="text-uppercase mb-0">Quên Mật Khẩu</h1>
        </div>
        <form method="post">
            <div class="row g-3">
                <div class="col-12">
                    <label>Tên đăng nhập</label>
                    <input type="text" name="username" class="form-control bg-light border-0 px-4" style="height: 55px;" required>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3 text-white" type="submit">ĐỔI MẬT KHẨU</button>
                    
                </div>
               
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>

<script>
    function validatePassword() {
        // Get the input values
        var newPassword = document.querySelector('input[name="newpassword"]').value;
        var newPassword2 = document.querySelector('input[name="newpassword2"]').value;

        // Check if the passwords match
        if (newPassword !== newPassword2) {
            alert("Mật khẩu mới không khớp. Vui lòng kiểm tra lại.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }

    // Attach the function to the form's submit event
    document.querySelector('form').onsubmit = validatePassword;
</script>
